.item-icon {
	border-radius: 100%;
	display: flex !important;
	justify-content: center;
	min-width: 29px !important;
	height: 30px !important;
	color: white;
	background: #c72230;
	padding: 5px 0;
	margin-top: -30px !important;
}
